In [ ]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("App") \
    .getOrCreate()

In [ ]:
spark

In [ ]:
myrange=spark.range(1000).toDF("number")

In [ ]:
divisby2=myrange.where("number % 2 =0")

In [ ]:
divisby2.count()

In [ ]:
head Desktop/learn/flight-data/csv/2015-summary.csv

pwd

In [ ]:
ls

In [ ]:
flightdata2015 = spark\
.read\
.option("inferSchema","true")\
.option("header","true")\
.csv("2015-summary.csv")

        

flightdata2015.take(3)

In [ ]:
flightdata2015.sort("count").explain()

In [ ]:
spark.conf.set("spark.sql.shuffle.partitions","5")

In [ ]:
flightdata2015.sort("count").take(2)

In [ ]:
flightdata2015.createOrReplaceTempView("flight_data_2015")

In [ ]:
sqlway = spark.sql("""
SELECT DEST_COUNTRY_NAME, count(1)
FROM flight_data_2015
GROUP By DEST_COUNTRY_NAME""")

In [ ]:
dataframway=flightdata2015\
.groupBy("DEST_COUNTRY_NAME")\
.count()

In [ ]:
sqlway.explain()
dataframway.explain()

In [ ]:
spark.sql("SELECT max(count) from flight_data_2015").take(1)

In [ ]:
from pyspark.sql.functions import max
flightdata2015.select(max("count")).take(1)

In [ ]:
maxsql= spark.sql("""
SELECT DEST_COUNTRY_NAME, sum(count) as destination_total
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME
ORDER BY sum(count) DESC
LIMIT 5
""")

In [ ]:
maxsql.show()

In [ ]:
from pyspark.sql.functions import desc
flightdata2015\
.groupBy("DEST_COUNTRY_NAME")\
.sum("count")\
.withColumnRenamed("sum(count)","destination_total")\
.sort(desc("destination_total"))\
.limit(5)\
.explain()

In [ ]:
pwd

In [ ]:
ls

In [ ]:
#create df of retail data
staticDataFrame = spark.read.format("csv")\
  .option("header", "true")\
  .option("inferSchema", "true")\
  .load("retail-data/by-day/*.csv")

staticDataFrame.createOrReplaceTempView("retail_data")
staticSchema = staticDataFrame.schema

In [ ]:
staticDataFrame.show(5)

In [ ]:
#view details about who spend most by using customerid wiht days interval
from pyspark.sql.functions import window, column, desc, col
staticDataFrame\
  .selectExpr(
    "CustomerId",
    "(UnitPrice * Quantity) as total_cost",
    "InvoiceDate")\
  .groupBy(
    col("CustomerId"), window(col("InvoiceDate"), "1 day"))\
  .sum("total_cost")\
  .sum(total_cost)\
  .show(5)